header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendario{
    display: grid;
    height: 50vh;
    width: 98vh;
    grid-template-columns: repeat(7, 14vh);
    grid-template-rows: repeat(5, 10);
}

.casella{
    border: 1px solid black;
}